# Pegue esses valores em: Supabase → seu projeto → Project Settings → API
NEXT_PUBLIC_SUPABASE_URL=https://xshaczkuwchzbwbiwfon.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhzaGFjemt1d2NoemJ3Yml3Zm9uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAxMDk5ODYsImV4cCI6MjEwNTY4NTk4Nn0.Ss8-CTYMzmfB9XVl5V10A5MIwM0s8Ek6cybWK879jCA
